[profile.default]
src = 'src'
tests = 'tests'
script = 'script'
out = 'out'
libs = ['lib']
evm_version = 'shanghai'
remappings = []
optimizer = true
optimizer_runs = 200
solc = '0.8.27'
bytecode_hash = 'none'

[profile.zksync]
src = 'zksync/src'
test = 'zksync/test'
script = 'zksync/script'
libs = ['lib']
solc = '0.8.27'
evm_version = 'cancun'
optimizer = true
optimizer_runs = 200
bytecode_hash = 'none'

[profile.zksync.zksync]
fallback_oz = true
mode = "3"
zksolc = "1.5.10"

[profile.linea]
evm_version = 'london'

# See more config options https://github.com/gakonst/foundry/tree/master/config
[rpc_endpoints]
### foundry toml ###
celo = "${RPC_CELO}"
mainnet = "${RPC_MAINNET}"
polygon = "${RPC_POLYGON}"
polygon_amoy = "${RPC_POLYGON_AMOY}"
avalanche = "${RPC_AVALANCHE}"
avalanche_fuji = "${RPC_AVALANCHE_FUJI}"
arbitrum = "${RPC_ARBITRUM}"
arbitrum_sepolia = "${RPC_ARBITRUM_SEPOLIA}"
fantom = "${RPC_FANTOM}"
fantom_testnet = "${RPC_FANTOM_TESTNET}"
optimism = "${RPC_OPTIMISM}"
optimism_sepolia = "${RPC_OPTIMISM_SEPOLIA}"
harmony = "${RPC_HARMONY}"
sepolia = "${RPC_SEPOLIA}"
scroll = "${RPC_SCROLL}"
scroll_sepolia = "${RPC_SCROLL_SEPOLIA}"
sonic = "${RPC_SONIC}"
mantle = "${RPC_MANTLE}"
metis = "${RPC_METIS}"
base = "${RPC_BASE}"
base_sepolia = "${RPC_BASE_SEPOLIA}"
bnb = "${RPC_BNB}"
gnosis = "${RPC_GNOSIS}"
zkEVM = "${RPC_ZKEVM}"
zksync = "${RPC_ZKSYNC}"
linea = "${RPC_LINEA}"
soneium = "${RPC_SONEIUM}"

[fuzz]
no_zksync_reserved_addresses = true
[invariant]
no_zksync_reserved_addresses = true
